*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    perspective: 600px;
}
.header{
    width: 100vw;
    height: 50px;
    
}
.ul1{
    float: left;
    margin-left: 35px;
}
.ul1 li{
    display: inline-block;
    padding: 15px 15px;
    color: #000000;
    position: relative;
}
.ph{
    display: inline-block;
    padding: 15px 15px;
    position: relative;
    text-shadow: none;
}
.ph1{
    margin-left: 150px;
}
a{
    text-decoration: none;
    color: #000000;
    /* position: relative; */
}
.ul2{
    float: right;
    margin-right: 15px;
    transform-style: preserve-3d;
}
.lili{
    padding: 15px 15px;
    position: relative;
    /* margin: 15px 15px; */
    display: inline-block;
}
.iheader:hover{
   color: #9012ca;
    
}
.lili:hover{
     
     transform: rotateY(180deg); 
     transition : all 1s;
}
 li::after{
    position: absolute;
    content: "";
    width: 1%;
    height:8%;
    bottom: 0;
    left: 0;
    background-color:  white;
    opacity: 1;
}
 li:hover::after{
    width: 0;
    height: 100%;
    opacity: 1;
    background-color: #b11bb6;
    transition: 1s;
}
li::before{
    position: absolute;
    content: "";
    width: 1%;
    height:8%;
    top:  0;
    right: 0;
    background-color: white;
    opacity: 1;
}
 li:hover::before{
    width: 0;
    height: 100%;
    opacity: 1;
    background-color: #b11bb6;
    transition: 1s;
}
 .ph::after{
    position: absolute;
    content: "";
    width: 1%;
    height:8%;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: 1;
}
 .ph:hover::after{
    width: 0;
    height: 100%;
    opacity: 1;
     background-color: #b11bb6;
    transition: 1s;
}
.ph::before{
    position: absolute;
    content: "";
    width: 1%;
    height:8%;
    top:  0;
    right: 0;
    background-color:  white;
    opacity: 1;
}
 .ph:hover::before{
    width: 0;
    height: 100%;
    opacity: 1;
    background-color: #b11bb6;
    transition: 1s;
}
 .lili::after{
    position: absolute;
    content: "";
    width: 1%;
    height:8%;
    bottom: 0;
    left: 0;
    background-color:  white;
    opacity: 1;
}
 .lili:hover::after{
    width: 0;
    height: 100%;
    opacity: 1;
     background-color: #b11bb6;
    transition: 1s;
}
.lili::before{
    position: absolute;
    content: "";
    width: 5%;
    height:8%;
    top:  0;
    right: 0;
    background-color: white;
    opacity: 1;
}
 .lili:hover::before{
    width: 0;
    height: 130%;
    opacity: 1;
    background-color: #b11bb6;
    transition: 1s;
}
.underheader{
    width: 100%;
    height: 70px;
 
}
.underheader p{
    text-transform: capitalize;
    font-size: 40px;
    float: left;
    padding: 10px 15px;
    text-shadow: 1px 1px 20px violet;
}
.iunderheader{
    font-size: 40px;
    color: violet;
    padding: 0;
    opacity: 1;
    float: left;
    padding: 15px 15px;
    background-color: #b11bb6;
    border-radius: 50%;
    margin-left: 10px;
    color: white;
}
.ul3{
    float: left;
    margin-left: 15px;
   
}
.ul3 .lilili{
    display: inline-block;
    padding: 25px 15px;
    position: relative;
}
.i5{
    float: left;
    padding: 25px 15px;
}
.i5:hover{
    color: #d608c5;
}
/* .i55{
    position: relative;
} */
/* .i55:hover .ball{
    margin-bottom: 10px ;
} */
.ball{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: #d608c5;
    padding: 2px 6px;
    left: 973px;
    top: 55px;
}

/* .ball:hover{
    position: absolute;
    left: 0;
    animation-name: change;
   animation-duration: 10s;
   
}
@keyframes change{
    50%{
    left: 50px;
    }
} */
.lispecial{
    position: relative;
}
.parentdropdown{
    position: absolute;
    top: 70px;
    left: -80px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: minmax(100px,auto);
    width: 250px;
    height: 200px;
    box-shadow: 1px 1px 50px 1px violet inset;
    border-radius: 8px;
    visibility: hidden;
    z-index: 5;
    background-color: white;
}.dropdown1 h2{
    padding: 5px 5px;
    margin-left: -70px;
    font-size: 18px;
}
.lispecial:hover .parentdropdown{
    visibility: visible;
}
.uldropdown .lidropdown{
    list-style: none;
    padding: 5px 8px;
    font-size: 14px;

}
.uldropdown .lidropdown:hover{
    color: rgb(134, 5, 134);
    transform: scale(1.1,1.1);
}
.uldropdown h2{
    padding: 5px 5px;
    margin-left: -100px;
    font-size: 18px;
}

.arrow{
    position: absolute;
    top: 73px;
    visibility: visible;
    left: 760px;
}
 .lilili::after{
    position: absolute;
    content: "";
    width: 1%;
    height:1%;
    bottom:  0;
    right: 0;
    background-color:  white;
    opacity: 1;
}
.lilili:hover::after{
    width: 100%;
    height: 1%;
    opacity: 1;
    background-color: #b11bb6;
    transition: 1s;
}
.lilili::before{
    position: absolute;
    content: "";
    width:1% ;
    height:100%;
    top:    0;
    left: 0;
    background-color: white;
    opacity: 1;
}
 .lilili:hover::before{
    width: 1%;
    height: 100%;
    opacity: 1;
    background-color: #b11bb6;
    transition: 1s;
}
@keyframes moveUp {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

.ball:hover {
  animation: moveUp 0.3s forwards;
}
/* ////////////////////////////////////////////// */


.main{
    width: 100vw;
    height: 100vh;
   
    position: relative;
} 
.boxshadow{
    position: absolute;
    width: 350px;
    height: 570px;
    top: 50px;
    left: 650px;
    /* border: 1px solid black; */
     background:url(../images/22222.png) no-repeat  right;
    background-size: 420px 550px;
    filter: drop-shadow(40px 40px 10px rgba(0,0,0,0.5));
}

 .abovemain{
    width: 100%;
    height: 40px;
    box-shadow: 1px 1px 40px 1px violet inset;
     text-align: center;
     padding: 7px 0;
     margin-top: 20px;
}
.abovemain .animation1{
    text-decoration: underline;
    color: rgb(56, 3, 87);
}
.main p{
    display: inline-block;
}
.animation1{
    display: inline-block;
}
.animation1:hover{
    animation-name: change1;
    animation-duration: 2s;
    width: 100px;
    transform: scale(1.2,1.2);
}
@keyframes change1{
    50%{
        width: 200px;
    }
}
.contentmain{
    width: 500px;
    margin-left: 100px;
    margin-top: 150px;

}
.hrdrop{
    border: 1px dotted rgb(7, 3, 3);
    width: 50px;
}
.contentmain h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
     text-shadow: 1px 1px 20px violet;
     padding-bottom: 10px;
}
.contentmain h2 ,p{
    font-style: italic;
    padding-bottom: 10px;
}
.contentmain button{
    padding: 20px 20px;
    margin: 50px 100px;
    text-transform: uppercase;
}
.contentmain button:hover {
    background-color: #d608c5;
    font-weight:bold;
    transform: scale(1.2 , 1.2);
    cursor:pointer;
}
/* /////////////////////////////////// */

.section1{
    width: 100%;
    height: 100vh;
    margin-top: 100px;
}
.parentsection1{
    width: 100%;
    height: 700px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    overflow: hidden;
}
.div1{
    width: 230px;
    height: 300px;
    background: url(../images/023ff8a889118ed652bfdf6a384e68f2.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.dv2{
    width: 250px;
    height: 300px;
    background: url(../images/3dd4265bf16c0ddea21f495635ebe632.jpg) no-repeat center;
    background-size: cover;
    align-self: center;
    overflow: hidden;
}
.dv3{
    width: 250px;
    height: 300px;
    background: url(../images/02d900d79fbe315301f4a18d193b8981.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
}
.contentsec1{
    position: absolute;
    width: 150px;
    height: 200px;
    top: 150px;
    left: 50px;
    text-align: center;
}
.contentsec1 h2 , p{
   color: #d608c5;
   text-shadow: 1px 1px 20px rgb(134, 134, 64);
}
.contentsec1 p{
    text-decoration: underline;
    color: rgb(202, 202, 181);
   
}
/* .div1:hover .contentsec1{
    transform: scale(0.7 , 0.7);
   
} */
.div1:hover{
   /* transform: scale(0.7 , 0.7);  */
    animation-name: change5;
    animation-duration: 3s;
}
@keyframes change5 {
    50%{
        width: 330px;
        height: 350px;
    }
}
.contentsec1:hover p{
    color: black;
} 
.contentsec1 h2{
    background-color: black;
    padding: 5px 5px;
}
.div1:hover h2{
     color: rgb(202, 202, 181);
}
/* //////////////////////////////////// */
.section2{
    width: 100%;
    height: 100vh;
     margin-top: 10px;
     position: relative;
}
.parentsection2{
    width: 100%;
    height: 700px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: start;
   
}
.itemsec2{
    width: 200px;
    height: 500px;
    position: relative;
    padding: 20px 0;
}

.card{
    position: relative;
    transition: all 2s;
    width: 200px;
    height: 450px;
    border-radius: 10px;
    transform-style: preserve-3d;
}
.front{
    width: 200px;
    height: 450px;
    border-radius: 10px;
    position: absolute;
   /* z-index: 2; */
    backface-visibility: hidden;
}
.back{
    width: 200px;
    height: 450px;
    border-radius: 10px;
    position: absolute;
    z-index: -1;
    transform: rotateY(180deg);
    background: url(../images/photo-1589458223095-03eee50f0054.avif);
    background-size: cover;
}
.card:hover{
    transform: rotateY(180deg);
    cursor: pointer;
}
.fr1{
    background: url(../images/five.png) center;
    background-size: cover;
     backface-visibility: hidden;
}
.fr2{
    background: url(../images/four.png);
    background-size: cover;
     backface-visibility: hidden;
}
.fr3{
    background: url(../images/sec.png) center;
    background-size: cover;
     backface-visibility: hidden;
}
.fr4{
    background: url(../images/thir.png) center;
    background-size: cover;
    backface-visibility: hidden;
}
.contentsec2{
    position: absolute;
    visibility: hidden;
    z-index: 5;
    top: 400px;
    left: 30px;
    text-align: center;
}
.contentsec2 .i3d{
   color: black;
   text-shadow: 1px 1px 20px violet;
   padding: 10px 10px;
   font-size: 25px;
   background-color: rgb(199, 182, 206);
   border-radius: 50%;
}
.i3d:hover{
    background-color: #d608c5;
}
.itemsec2:hover .contentsec2{
    visibility: visible;
}
.itemsec2 .psec2{
    text-align: center;
    line-height: 25px;
    text-shadow: 1px 1px 20px rgb(214, 23, 214);
}
.titlesec2{
    margin-bottom: 50px;
    margin-left: -700px;
    text-shadow: 1px 1px 20px violet;
    font-style: italic;
}
.linetitle{
    width: 975px;
    /* height: 5px; */
    border: 1px solid black;
    opacity: 0.2;
}
.ulsec2{
    position: absolute;
    top: 10px;
    left: 600px;
    text-transform: capitalize;
    text-shadow: 1px 1px 20px violet;
}
.lisection2{
    display: inline-block;
    margin-left: 15px;
    font-size: 25px;
    padding: 5px 5px;

}
.li2special{
    color: #bd01e2;
    text-shadow: 1px 1px 50px rgb(152, 7, 224);
    background-color: rgb(192, 124, 201);
    padding: 10px 10px;
}
/* /////////////////////////////////////////// */
.section3{
    width: 100%;
    height: 300px;
    position: relative;
    
}
.parentsec3{
    width: 50%;
    width: 280px;
    text-align: center;
    margin: auto;
    margin-top: -130px;
}
.section3 img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.p13, .p23, .p33{
    color: black;
    opacity: 0.7;
}
.p23{
    opacity: 1;
}
.h23{
    text-transform: capitalize;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 28px;
    text-shadow: 1px 1px 50px violet;
}
.i31{
    position: absolute;
    top: 100px;
    left: 200px;
    font-size: 40px;
}
.i32{
    position: absolute;
    top: 100px;
    left: 1300px;
    font-size: 40px;
}
/* ///////////////////////////////////// */
.section4{
    width: 100%;
    height: 100vh;
     margin-top: 10px;
     position: relative;
}
.parentsection4{
    width: 100%;
    height: 700px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: start;
   
}
.itemsec4{
    width: 200px;
    height: 500px;
    position: relative;
    padding: 20px 0;
}

.card4{
    position: relative;
   
    width: 200px;
    height: 450px;
    border-radius: 10px;
    transform-style: preserve-3d;
}
.front4{
    width: 200px;
    height: 450px;
    border-radius: 10px;
    position: absolute;
   /* z-index: 2; */
    backface-visibility: hidden;
}
.back4{
    width: 200px;
    height: 450px;
    border-radius: 10px;
    position: absolute;
    z-index: -1;
    transform: rotateY(180deg);
    background: url(../images/7b6669dbe5a539b9b5c2cbbaeb6f56c0.jpg) center;
    background-size: cover;
}
.card4:hover .back4{
    transform: rotatez(180deg);
    transform: translateZ(180px);
    z-index: 2;
    cursor: pointer;
    transition: all 1s;
}
.fr14{
    background: url(../images/57fdcf714580bff1ecafb24dfbeb3ef8.jpg) center;
    background-size: cover;
    backface-visibility: hidden;
}
.fr24{
    background: url(../images/b830c9dacb335f83431a70418d45c52a.jpg) center;
    background-size: cover;
     backface-visibility: hidden;
}
.fr34{
    background: url(../images/a436bf88ccb51929e01dd0053347573d.jpg) center;
    background-size: cover;
    backface-visibility: hidden;
}
.fr40{
    background: url(../images/d9deb428f56a573d7878e03f66897291.jpg) center;
    background-size: cover;
     backface-visibility: hidden;
}
.contentsec4{
    position: absolute;
    visibility: hidden;
    z-index: 5;
    top: 400px;
    left: 30px;
    text-align: center;
}
.contentsec4 .i4d{
   color: black;
   text-shadow: 1px 1px 20px violet;
   padding: 10px 10px;
   font-size: 25px;
   background-color: rgb(219, 200, 200);
   border-radius: 50%;
}
.itemsec4:hover .contentsec4{
    visibility: visible;
}
.i4d:hover{
    background-color: #d608c5;
}
.itemsec4 .psec4{
    text-align: center;
    line-height: 25px;
    text-shadow: 1px 1px 20px rgb(214, 23, 214);
}
.titlesec4{
     margin-top: 30px; 
    text-shadow: 1px 1px 20px violet;
    font-style: italic;
    text-align: center;
    font-size: 40px;
}
/* ///////////////////////////////////// */
.section5{
    width: 100%;
    height: 800px;
    margin-top: 50px;
}
.parentsec5{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: start;
    height: 800px;
    
}
.item5{
    width: 200px;
    height: 800px;
    margin-top: 70px;
    
}
.div51{
   width: 200px;
   height: 450px;
   background: url(../images/ca7700f10d0fd823680e640ad2e809a0.jpg) center;
   background-size: cover;
}
.div52{
   width: 200px;
   height: 450px;
   background: url(../images/06477b8770d71eb1927845e8b75c798b.jpg) center ;
   background-size: cover;
}
.div53{
   width: 200px;
   height: 450px;
   background: url(../images/87275f5f8dcbb93efe392fc316856c70.jpg) center ;
   background-size: cover;
}
.barrier{
    width: 1000px;
    height: 1px;
    border: 1px solid black;
     opacity: 0.2; 
}
.titlesec5{
    text-align: center;
    text-transform: capitalize;
    font-size: 35px;
    text-shadow: 1px 1px 50px rgb(207, 18, 207);
    padding-top: 50px;
    font-weight: bold;
}
.item5 p, h2{
    padding: 10px 10px;
    text-transform: capitalize;
    text-align: center;
}
.section5 .sectit{
    font-size: 20px;
}
 .large:hover{
    opacity: 0.7;
}
.more{
     font-size: 20px;
     color: black;
     text-decoration: underline;
     text-shadow: 1px 1px 50px rgb(148, 4, 148);
}
.more:hover{
     font-size: 25px;
}
.dv5:hover{
    animation-name: picture;
    animation-duration: 1s;
}
@keyframes  picture{

    100%{
        width: 320px;
        margin-left: -10px;
    }
}
/* ////////////////////////////////// */
.section6{
    width: 100%;
    height: 300px;
    margin-top: 100px;
   
}
.parentsec6{
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: start;
    margin-top: 120px;
    margin-left: 35px;
}
.card6{
    width: 150px;
    height: 50px;
    position: relative;
   
    transform-style: preserve-3d;
}
.front6{
    width: 150px;
    height: 50px;
    position: absolute;
    transform: translateZ(-50px);
}
.back6{
   width: 150px;
   height: 50px;
   position: absolute;
   top: -50px;
   left: 0;
   visibility: hidden;
}
.i66{
    color: rgb(117, 3, 117);
    font-size: 35px;

}

.item6:hover .back6{
    transform: translateY(50px);
    /* opacity: 0.7;  */
    z-index: 2;
    visibility: visible;
    transition: all 1s;
}
.i6{
    font-size: 35px;
}
.item6{
    width: 180px;
    height: 100px;
}
.title6{
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 50px rgb(240, 3, 240);
}
.line6{
    width: 1000px;
    height: 1px;
    border: 1px solid black;
    opacity: 0.2; 
}
/* //////////////////////////////////////////// */
.footer{
    width: 100%;
    height: 100vh;
    margin-top: 30px;
}
.part1{
    width: 80%;
    height: 180px;
    margin: auto;
    position: relative;
    
}
.titlep1{
    margin-left: -1000px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 50px violet;
   
}
.pp1{
    text-shadow: none;
    margin-left: 20px;
}
input{
    text-align: center;
    position: absolute;
    left: 300px;
    top: 50px;
    padding: 20px 80px;
}
.btn1{
    position: absolute;
    left: 700px;
    top: 50px;
    padding: 20px 40px;
    background-color: white;
    color: rgb(8, 5, 5);
}
.if1{
    position: absolute;
    top: 40px;
    right: 75px;
    font-size:25px;
    padding: 10px 40px;
    opacity: 0.5;
    top: 50px;
}
.if2{
    
    position: absolute;
    top: 40px;
    right: 45px;
    font-size:25px;
    padding: 10px 15px;
    opacity: 0.5;
    top: 50px;
}
.if3{
    
    position: absolute;
    top: 70px;
    right: 0px;
    font-size:25px;
    padding: 10px 0px;
    opacity: 0.5;
    top: 50px;
}
 .ifooter:hover{
    opacity: 1;
    color: rgb(153, 7, 153);
}
.pp1{
    color: black;
}
.btn1:hover{
    transform: scale(1.1, 1.1);
    color: rgb(0, 0, 0);
    background-color: violet;
}
.barrier1footer{
     width: 805px;
    height: 1px;
    border: 1px solid black;
    opacity: 0.2; 
    margin-top: 55px;
}
.ptar2{
    width: 80%;
    height: 400px;
    margin: auto;
    
}
.parentpart2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: minmax(100px,400px);
    text-align: center;
    margin-top: 50px;
}
.div1f1 h2{
   font-size: 18px;
   text-shadow: 1px 1px 50px violet;
}
.fff1{
    margin-top: 20px;
}
.fff3{
    margin-top: 20px;
}
.fff5{
    margin-top: 20px;
}
.fffff{
    margin-top: 30px;

}
.ffffff{
    font-size: 40px;
}
.div1f1 p{
    color: black;
    text-decoration: underline;
    padding: 10px 0;
    text-shadow: 1px 1px 50px rgb(119, 1, 119);
}
.div1f1 p:hover{
    color: rgb(85, 2, 85);
    cursor: pointer;
    transform: scale(1.1,1.1);
}
.barrier2footer{
     width: 805px;
    height: 1px;
    border: 1px solid black;
    opacity: 0.2; 
    margin-top: 55px;
}
.part3{
    width: 80%;
    margin: auto; 
    text-align: center;
    
}
.part3 p{
    margin-top: 40px;
    color: black;
    text-shadow: none;
    font-style: italic;
    font-weight: bold;
}
.iflast{
    font-size: 20px;
    animation-name: last;
    animation-duration: 1s;
    animation-iteration-count: infinite;
   
}
@keyframes  last{
    100%{
    color: rgb(209, 3, 209);
    transform: scale(0.7,0.7);
    }
}
.lastlast{
    color: rgb(153, 7, 153);
}
/* ////////////////////////// */
 .lisection2{
    position: relative;
}
 .aaa::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border: 3px solid rgb(124, 3, 124);
    border-top: transparent;
    border-right: transparent;
    opacity: 0;
    transition: 0.5s;
}
.aaa:hover::after{
   width: 96%;
   height: 100%;
  
   opacity: 1;
    }


    .aaa::before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
     top: 0;
    right: 0;
    border: 3px solid rgb(110, 2, 110);
    border-left: transparent;
    border-bottom: transparent;
    opacity: 0;
    transition: 0.5s;
}
.aaa:hover::before{
   width: 96%;
   height: 100%;
  
   opacity: 1;
     }
    
/* .foot{
    position: absolute;
    top: 1870px;
    left: 0;
    width: 100%;
    height: 850px;
   box-shadow: 1px 1px 100px 10px violet inset;
} */
